header, nav, aside, article, footer, section, main, figure, figcaption {
	display:block;
}
* {
 	margin:0;
	border:0;
	padding:0;
}

nav ul li {
    display: inline;
    text-decoration: none;
    font-size: 1em;
}