header, nav, aside, article, footer, section, main, figure, figcaption {
	display:block;
}
* {
 	margin:0;
	border:0;
	padding:0;
}

header {
    text-align: center;
    padding: 0 6% 8% 6%;
    margin: 0 0 8% 0;
    background-color: black;
}

nav ul {
    padding: 6% 0;
}

nav ul li {
    display: inline;
    font-family: 'Arimo', sans-serif;
    font-size: 1em;
    padding: 0 4%;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.active-nav {
    border-bottom: 3px solid #EF3E42;
}

.active-nav:hover {
    border-bottom: 3px solid #005A9C;
}

header h1 {
    font-family: 'Arimo', sans-serif;
    font-size: 1.5em;
    color: white;
    padding: 2% 0 4% 0;
}

header p {
    font-family: 'Arimo', sans-serif;
    font-size: 1em;
    color: white;
    padding: 0 0 10% 0;
}

header button {
    margin: 0 0 4% 0;
    font-family: 'Arimo', sans-serif;
    font-size: 1em;
    color: white;
    border: 1px solid white;
    background-color: #005A9C;
    padding: 2% 8%;
}

section article {
    font-family: 'Arimo', sans-serif;
    font-size: 1em;
    color: #6D6E71;
    padding: 0 6%;
}

footer {
    background-color: #005A9C;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer h3 {
    color: white;
    font-family: 'Arimo', sans-serif;
    font-size: .8em;
    padding: 4% 6% 0 6%;
}